body {
  font-family: 'Panton';
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.heading-secondary {
  font-size: 36px;
  font-weight: 800;
  line-height: 25px;
  color: $color-black;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}