.btn {
  border: none;
  cursor: pointer;
  background-image: linear-gradient(to left, #0187c1 0%, #3ac0ef 100%);
  padding: 12px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3.2px;

}