$color-black: #1d1e1e;

$color-blue: #009ee2;
$color-blue-dark: #0086c0;
$color-blue-light: #4bd1fe;

$color-grey: #ddd;
$color-grey-light: #6d6d6d;
$color-grey-dark: #efefef;


$color-green: #00963f;